[Unit]
Description=Consul Server
After=network.target

[Service]
User=nobody
Environment=GOMAXPROCS=2
EnvironmentFile=-/etc/sysconfig/consul
Restart=on-failure
ExecStart=/usr/sbin/consul agent $OPTIONS -config-dir=/etc/consul.d -data-dir=/var/lib/consul/
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
