[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
Environment=CONF_FILE=/etc/grafana/grafana.ini
Environment=LOG_DIR=/var/log/grafana
Environment=DATA_DIR=/var/lib/grafana
Environment=PLUGINS_DIR=/var/lib/grafana/plugins
EnvironmentFile=-/etc/sysconfig/grafana-server
User=grafana
Group=grafana
Type=simple
Restart=on-failure
RestartSec=10s
WorkingDirectory=/usr/share/grafana
ExecStart=/usr/sbin/grafana-server                                \
                            --config=${CONF_FILE}                 \
                            cfg:default.paths.logs=${LOG_DIR}     \
                            cfg:default.paths.data=${DATA_DIR}    \
                            cfg:default.paths.plugins=${PLUGINS_DIR} \
                            ${OPTIONS}
LimitNOFILE=10000
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
