[Unit]
Description=MySQL replication topology management and HA
After=network.target postgresql.service
Requires=postgresql.service

[Service]
User=nobody
Type=simple
ExecStart=/usr/sbin/orchestrator --verbose http
Restart=on-failure
RestartSec=10s
WorkingDirectory=/usr/share/orchestrator

[Install]
WantedBy=multi-user.target
