[Unit]
Description=Percona Query Analytics API v2
After=network.target clickhouse.service
Requires=clickhouse.service

[Service]
User=nobody
Type=simple
Environment=QANAPI_BIND=127.0.0.1:9911
ExecStart=/usr/sbin/percona-qan-api2
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=multi-user.target
