[Unit]
Description=Percona Query Analytics API
After=network.target

[Service]
User=nobody
Type=simple
Environment=PERCONA_DATASTORE_BASEDIR=/usr/share/percona-qan-api/src/github.com/percona/qan-api
Environment=PERCONA_DATASTORE_CONF=/etc/percona-qan-api.conf
Environment=BASE_PATH=/qan-api
EnvironmentFile=-/etc/sysconfig/percona-qan-api
ExecStart=/usr/sbin/percona-qan-api -srcPath /usr/share/percona-qan-api/src -importPath github.com/percona/qan-api -runMode prod
Restart=on-failure

[Install]
WantedBy=multi-user.target
