[Unit]
Description=Prometheus
After=network.target chronyd.service

[Service]
User=nobody
Type=simple
Environment=WEB_LISTEN_ADDRESS=:9090
Environment=STORAGE_LOCAL_PATH=/var/lib/prometheus1
EnvironmentFile=-/etc/sysconfig/prometheus1
ExecStartPre=/usr/bin/sleep 10
ExecStart=/bin/bash -c " \
    exec /usr/sbin/prometheus1 \
        -web.listen-address=$WEB_LISTEN_ADDRESS \
        -config.file=/etc/prometheus1.yml \
        -storage.local.path=$STORAGE_LOCAL_PATH \
        -storage.local.target-heap-size=$${TARGET_HEAP_SIZE:-$$(( $$(grep -oP 'MemTotal:\\s+\K.*?(?=kB)' /proc/meminfo) * 1024 / 100 * 40 ))} \
        -web.console.templates=/usr/share/prometheus1/consoles \
        -web.console.libraries=/usr/share/prometheus1/console_libraries \
        $OPTIONS \
    "
Restart=on-failure
RestartSec=10s
TimeoutStopSec=300s

[Install]
WantedBy=multi-user.target
